.column{
    width: 100%;
    text-align: center;
    border-left: 3px dashed rgba(238, 179, 179, 0.918);
    color: #69a08a;
    /* background-color: ; */
    }
.droppable-column{
    width: 90%;
    /* height: 100px; */
    /* background-color: aqua; */
    padding: 10px 10px 0px 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}