
.App {
  display: block;
  /* width: 100vw; */
  height: 100vh;
  justify-content: space-between;
  background-color: white;
  margin: 10% 10% 0 10%;
  border-radius: 20px;
}
.Container{
  padding: 8px;
  display: grid;
  /* flex-direction: row; */
  grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
  justify-content: space-between;
}
.Task-Adder{
  /* margin: 10px; */
  margin-top: 20px;
  margin-right:10px ;
  align-items: center;
}
.button{
  margin-top: 10px;
  margin-left: 50px;
}
